body {
  text-align: center;
  font-family: 'Hepta Slab', serif;
  font-size: 250%;
}

h1 {
font-family: 'Sacramento', cursive;
  font-size: 300%;
  color: #4D4C7D;
  margin: auto;
}

h2 {
  color: red;
  font-family: 'Dancing Script', cursive;
  font-size: 250%;
  margin: auto;

}

h3 {
  font-family: 'Courgette', cursive;
  font-size: 300%;
}

h4 {
  font-size: 60%;
}

hr {
    border-top-style: dashed;
    width: 10%;
    color:#2E0249;
    border-top-width: 10px;
    margin-bottom-style: 0;
    margin-left-style:0;
    margin-right-style:0;
}

#one {
  font-size: 100%;
}
#new {
  font-size: 300%
}
.main {

  margin-left: 25%;
  position: relative;
  width: 50%;
  height: 40%;
  align-items: center;
}

.cloud1 {

  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 200px;
  width: 300px;
  height: 150px;
  top: 10px;
}

.first {

  background-color: #B7E5EF;
  height: auto;
  width: auto;
}
.cloud2 {

  position: absolute;
  width: 200px;
  height: 100px;
  top: 10%;
  left: 10%;
}

.pargraph {

  font-size: 60%;
}

.mountain {

  width: 750px;
  height: 550px;
}

.list {

  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.link {

  color: black;
  font-size: 60%;

}
.link:visited {
  color: #80901F;
}

.link:hover {
  color: #F32424;
}

.skill {

  margin-left: 28%;
  margin-right: 28%;
}

.project {
  margin-left: 8%;
  margin-right: 8%;
}

.hello1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.hello2 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.search {
  width: 100%;
}
th {
    font-size: 150%;
}
tr {
    font-size: 60%;
}
.photo {
  width: 250px;
  height: 250px;
}
.abcd {
  width: 60px;
  height: 60px;
}

.program {
  display: inline-block;
}
.sk {

  display: inline-block;
  align-items: center;
}
.skill-row {

  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}
span {
  font-size: 60%;
}

.tab {
  display: inline-block;
}
